a.logo {
    
}

.btn-menu {
    border: 0px;
    box-shadow: none;
    margin: 0;
    /*border-color: $defaultColor;
    color: $defaultFontColor;

    -webkit-box-shadow: 0px $bottomShadow 0px 0px rgba(darken( $defaultColor, 25%),0.9);
       -moz-box-shadow: 0px $bottomShadow 0px 0px rgba(darken( $defaultColor, 25%),0.9);
            box-shadow: 0px $bottomShadow 0px 0px rgba(darken( $defaultColor, 25%),0.9);

    &:hover {
        background-color: darken( $defaultColor, 5%);
        border-color: darken( $defaultColor, 5%);
    }

    .fa {
        @extend .size30;
    }*/
}

.site-content {
    > nav.navigation {
        top: 0;
        left: 0;
        border-top: 0;
        border-bottom: 0;
        @extend .overflow;

        &.absolute {
            left: 0 !important;

            -webkit-transition: all 0s ease-out;
               -moz-transition: all 0s ease-out;
                -ms-transition: all 0s ease-out;
                 -o-transition: all 0s ease-out;
                    transition: all 0s ease-out;
        }
    }
}

.site-content {
    padding-top: 50px;
    left: 0;

    &.content {
        padding-top: 0;
        @extend .overflow;
        @extend .clear;
    }
}

.menu-wrapper {
    height: 40px;

    li {
        line-height: 42px;

        &:hover {
            a {
                text-decoration: none;
            }
        }

        a {

        }
    }
}

.menu {
    max-width: 200px;
    min-width: 200px;
}
.side-menu {

    .logo {
        a {
            color: $white;
        }
    }

    .close-menu {
        top: 10px;
        left: 10px;
        @extend .size20;
    }
    ul {
        width: 200px;
        margin-left: -20px;
        margin-right: -20px;

        li {
            @extend .block;
            padding: 0;

            font-size: 1rem;

            a {
                padding: 6px 26px;

                &:hover {
                    text-decoration: none;
                }
            }

            &.current {

            }
        }
    }
}

.picture {
    padding: 20px 0 20px 0;
    height: 200px;

    object {
        max-width: 100px !important;
    }

    h1 {
        @extend .block;
        @extend .clear;
        padding: 10px 0 0 0;
        font-weight: 300;
    }

    @include from(5) {
        padding: 75px 0 50px 0;
        height: 430px;

        object {
            width: 192px;
        }

    }
}

.footer {
    padding: 20px 0 15px;

    span {
        vertical-align: middle;
        float: left;
        line-height: 34px;
    }

    a {
        span {
            padding: 0 4px 0 0;
        }

        i {
            @extend .size34;
        }
    }
}

.article-navigation {
    &.collapsed {
        @extend .visibilityV;
    }

    > ul {
        padding-top: 10px;
        width: 200px;
        
        > li {
            .sub-menu {
                height: 0;
                max-height: 0;
                @extend .overflow;
            }

            &.current {
                > a {
                    @extend .semi-bold;
                    border-right: 3px solid;
                }
                .sub-menu {
                    height: auto;
                    max-height: 500px;

                    > li {
                        &.current {
                            a {
                                @extend .semi-bold;
                                border-right: 3px solid;
                            }
                        }
                    }
                }
            }

            &.top.current {
                > a {
                    @extend .normal;
                    border-right: 0;
                }
            }
        }
    }
    ul {

        li {
            a {
                padding: 3px 10px 3px 0;
            }
        }
    }
    .sub-menu {
        padding: 0 0 0 20px;
    }
    max-height: 100%;

    @include at(4) {
        > ul {
            width: 175px;
        }
    }
    @include at(5) {
        > ul {
            width: 175px;
        }
    }
    @include from(6) {
        > ul {
            width: 200px;
        }
    }
}

@include to(3) {
    .logo {
        font-size: 24px;
        margin-top: 2px;
    }

    .btn {
        font-size: 0.8rem;
    }

    .article-navigation {
        .list-unstyled.fixed {
            position: relative;
            left: 0 !important;
            top: 0 !important;
        }
        //left: 10px;
        
        &.collapsed {
            visibility: hidden;
        }
    }
}

.ex-sam,
.ex-sam2 {
    .show-on-class {
        @extend .hide;
    }
    &.samaritanUI {
        .show-on-class {
            @extend .inline-block;
        }
    }
}