
// ==========================================================================
// Heading
// ==========================================================================

// list
$hs: 10;

html {
    color: $baseFontColor;
    font-size:$baseSize / 1.2;
    font-family: $baseFont;
}

// z-indexex
// ------------------------------------------
@for $h from 1 through $hs {
    .h#{$h}, h#{$h}  {
        color: $headingFontColor;
        font-family: $headingFont;
        font-size: $headerSize / 2;
        font-weight: $headerWeight;

        line-height: normal;
        margin-bottom: 10px;
    }
}
        // ---
        // Mobile Portrait, 320px
        // ------------------------------------
        @include to(2) {
        }

        // ---
        // Mobile Landscape, 480px
        // ------------------------------------
        @include at(3) {
        }

        // ---
        // From Mobile Portrait - Landscape, 0 - 480px
        // ------------------------------------
        @include to(3) {
            .s-text {
                font-size:$baseSize / 2;
            }
        }

        // ---
        // Tablet size, 768px
        // ------------------------------------
        @include at(4) {
            html {
                font-size:$baseSize / 1.2;
            }
            @for $h from 1 through $hs {
                .h#{$h}, h#{$h}  {
                    font-size: $headerSize / 1.5;
                    //line-height: normal;
                }
            }  
        }

        // ---
        // From large desktop, 960px - 
        // ------------------------------------
        @include from(5) {
            html {
                font-size:$baseSize;
            }
                .h1, h1 {
                    font-size: $headerSize;
                }
            @for $h from 2 through $hs {
                .h#{$h}, h#{$h} {
                    font-size: $headerSize / 1.4;
                    //line-height: normal;
                }
            }
        }

        // ---
        // From xlarge desktop and up, 1280px
        // ------------------------------------
        @include from(6) {  
        }

@for $newFontSize from 1 through $loopNumber {
    .size#{$newFontSize} {
        font-size: $newFontSize + px;
        //line-height: normal;
    }
}
        // ---
        // Mobile Portrait, 320px
        // ------------------------------------
        @include to(2) {
            @for $newFontSize from 1 through $loopNumber {
                .mp-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            }
        }

        // ---
        // Mobile Landscape, 480px
        // ------------------------------------
        @include at(3) {
            @for $newFontSize from 1 through $loopNumber {
                .ml-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            }
        }

        // ---
        // From Mobile Portrait - Landscape, 0 - 480px
        // ------------------------------------
        @include to(3) {
            @for $newFontSize from 1 through $loopNumber {
                .m-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            }
        }

        // ---
        // Tablet size, 768px
        // ------------------------------------
        @include at(4) {
            @for $newFontSize from 1 through $loopNumber {
                .t-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            } 
        }

        // ---
        // From large desktop, 960px - 
        // ------------------------------------
        @include from(5) {
            @for $newFontSize from 1 through $loopNumber {
                .dl-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            }
        }

        // ---
        // From xlarge desktop and up, 1280px
        // ------------------------------------
        @include from(6) {
            @for $newFontSize from 1 through $loopNumber {
                .dxl-size#{$newFontSize} {
                    font-size: $newFontSize + px;
                    //line-height: normal;
                }
            }  
        }

// ==========================================================================
// Type
// ==========================================================================

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
  margin-bottom: 5px;
}
