// Set charset
@charset "UTF-8";

// ==========================================================================
// settings from SamaritanUI Pack
// ==========================================================================

//
// Responsive breakpoints
//

$grid-default                       : 320px; //slice 2, also called "mp" in class' e.g. mp-w100 (mp = Mobile Portrait)

$grid-mobilel                       : 480px; //slice 3, also called "ml" in class' e.g. ml-w100 (ml = Mobile Landscape) !!### OR use "m"-clas e.g m-w100 (m = both Mobile Portrait and Mobile Landscape)

$grid-medium                        : 768px; //slice 4, also called "t" in class' e.g. t-w100 (t = tablet)

$grid-large                         : 960px; //slice 5, also called "dl" in class' e.g. dl-w100 (dl = Desktop Large)

$grid-xlarge                        : 1280px; //slice 6, also called "dxl" in class' e.g. dxll-w100 (dxl = Desktop X-Large)

// Globals
@import "globals/settings";
@import "globals/mixins";

//
// other settings
//
$sideMargin                         : -5px;
$sidePadding                        : 5px;

// Single-direction declarations
$singleDMargin                      : 0 0 $sidePadding 0;
$singleDPadding                     : 0 0 $sidePadding 0;

// Feather setting
$feather                            : 0px;


// Font settings
//@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700italic,700,600italic,400italic,600,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Numans|Play:400,700|Fira+Sans:400,300,500,400italic,300italic,500italic,700italic,700|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);

//$baseFont                           : 'Titillium Web', sans-serif;
//font-family: 'Numans', sans-serif;
//font-family: 'Play', sans-serif;
//font-family: 'Fira Sans', sans-serif;
//font-family: 'Ubuntu', sans-serif;
$baseFont                           : 'Play', sans-serif;
     $baseSize                      : 1rem;
$headingFont                        : 'Ubuntu', sans-serif;
     $headerSize                    : 2.4rem;
     $headerWeight   				: 400;


// Color settings
// Base color
$white                              : #ffffff;
$black                              : #000000;

$backgroundColor 					: $white;

$anchorColor						: #000000;
$anchorVisitedColor					: #000000;
$anchorHoverColor  					: #000000;
$anchorActiveColor  	            : #000000;

$baseFontColor                      : #777777;
$headingFontColor                   : #752323;

$borderColor                        : #777777;
	$lighten    					: lighten($borderColor, 20%);
	$lighten40    					: lighten($borderColor, 40%);
	$lighten50    					: lighten($borderColor, 50%);

$primaryColor                       : #ea6060;
$primaryFontColor                   : $white;

$defaultColor                       : #c3c3c3;
$defaultFontColor                   : $white;

// contextual colors
$infoColor                          : #44a7c4;
$infoFontColor                      : $white;

$activeColor						: #f9f8f8;
$activeFontColor					: $baseFontColor;

$successColor						: #b3d6a4;
$successFontColor					: $baseFontColor;

$dangerColor						: #d7b2b2;
$dangerFontColor					: $baseFontColor;

$warningColor						: #d9d1a9;
$warningFontColor					: $baseFontColor;

$linkColor							: transparent;
$linkFontColor						: $baseFontColor;



// Module dependencies
@import "compass";
@import "breakpoint";
@import "breakpoint-slicer";

// list
$loopNumber: 100; // Used for @each -loops !!

// base
@import "base/colors";

// Layout
@import "grid/grid";

// library
@import "libs/libs";

// components
@import "components/components";

// Typography
@import "typo/typo";

// Plugins
@import "libs/font-awesome/scss/font-awesome";


// Generalize
@import "globals/generalize";


//Custom
@import "template";
@import "theme";