/* unvisited link */
a:link {
    color: $anchorColor;
}

/* visited link */
a:visited {
    color: $anchorVisitedColor;
}

/* mouse over link */
a:hover {
    color: $anchorHoverColor;
}

/* selected link */
a:active {
    color: $anchorActiveColor;
}

// editing
// --------------------------------------
// ---

// editing
// --------------------------------------
// ---