// box
// --------------------------------------
// ---
// Mobile Portrait, 320px (mobile first)
// ------------------------------------
.box {
    width: $grid-default;
    margin: 0 auto;
    padding-left: $sidePadding;
    padding-right: $sidePadding;
}

// ---
// Mobile Landscape, 480px
// ------------------------------------
@include at(3) {
    .box {
        width: $grid-mobilel;
    }    
}

// ---
// Tablet size, 768px
// ------------------------------------
@include at(4) {
    .box {
        width: $grid-medium;
    }    
}

// ---
// Between large and xlarge desktop, 960px
// ------------------------------------
@include from(5) {
    .box {
        width: $grid-large;
    }    
}

// ---
// From xlarge desktop and up, 1280px
// ------------------------------------
@include from(6) {
    .box {
        width: $grid-xlarge;
    }    
}

// row
// --------------------------------------
// ---
.row {
    margin-left: $sideMargin;   
    margin-right: $sideMargin;
    overflow: hidden;
    width: 100%;
}
    // col
    // --------------------------------------
    // ---
    .col {
        @extend .inline-block;
        @extend .relative;
        @extend .float-left;
        min-height: 1px;
        padding-left: $sidePadding;
        padding-right: $sidePadding;
    }

// ---
// Mobile Portrait, 320px (mobile first)
// ------------------------------------
/*.button-group:after,
.button-group:before,
.clearfix:after,
.clearfix:before,
.dropdown:after,
.dropdown:before,
.media-body:after,
.media-body:before,
.media:after,
.media:before,
.nav:after,
.nav:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager-group:after,
.pager-group:before,
.pagination:after,
.pagination:before,
.toggle-content:after,
.toggle-content:before,*/
.form-group:after,
.form-group:before,
.box:after,
.box:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}


// height
// ------------------------------------------
@for $height from 0 through $loopNumber {
    .h#{$height} {
        height: 0% + $height;
    }
}

// width
// ------------------------------------------
@for $width from 0 through $loopNumber {
    .w#{$width} {
        width: 0% + $width;

        float: left;
        display: inline-block;

        min-height: 1px;
    }
}
@for $width from 0 through $loopNumber {
    .w#{$width}-i {
        width: 0% + $width !important;

        float: left;
        display: inline-block;
        
        min-height: 1px;
    }
}
    .wAuto {
        width: auto;
    }
    .wAuto-i {
        width: auto !important;
    }

        // ---
        // Mobile Portrait, 320px
        // ------------------------------------
        @include to(2) {
            @for $width from 0 through $loopNumber {
                .mp-w#{$width} {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            }
            @for $width from 0 through $loopNumber {
                .mp-w#{$width}-i {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .mp-wAuto {
                width: auto;
            }
            .mp-wAuto-i {
                width: auto !important;
            }
        }

        // ---
        // Mobile Landscape, 480px
        // ------------------------------------
        @include at(3) {
            @for $width from 0 through $loopNumber {
                .ml-w#{$width} {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            }
            @for $width from 0 through $loopNumber {
                .ml-w#{$width}-i {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .ml-wAuto {
                width: auto;
            }
            .ml-wAuto-i {
                width: auto !important;
            }
        }

        // ---
        // From Mobile Portrait - Landscape, 0 - 480px
        // ------------------------------------
        @include to(3) {
            @for $width from 0 through $loopNumber {
                .m-w#{$width} {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            }
            @for $width from 0 through $loopNumber {
                .m-w#{$width}-i {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .m-wAuto {
                width: auto;
            }
            .m-wAuto-i {
                width: auto !important;
            }
        }

        // ---
        // Tablet size, 768px
        // ------------------------------------
        @include at(4) {
            @for $width from 0 through $loopNumber {
                .t-w#{$width}  {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            }   
            @for $width from 0 through $loopNumber {
                .t-w#{$width}-i  {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .t-wAuto {
                width: auto;
            }
            .t-wAuto-i {
                width: auto !important;
            }   
        }

        // ---
        // From large and and up, 960px - 
        // ------------------------------------
        @include from(5) {
            @for $width from 0 through $loopNumber {
                .dl-w#{$width}  {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            }
            @for $width from 0 through $loopNumber {
                .dl-w#{$width}-i  {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .dl-wAuto {
                width: auto;
            }
            .dl-wAuto-i {
                width: auto !important;
            }     
        }

        // ---
        // From xlarge desktop and up, 1280px - 
        // ------------------------------------
        @include from(6) {
            @for $width from 0 through $loopNumber {
                .dxl-w#{$width}  {
                    width: 0% + $width;

                    float: left;
                    display: inline-block;
                }
            } 
            @for $width from 0 through $loopNumber {
                .dxl-w#{$width}-i  {
                    width: 0% + $width !important;

                    float: left;
                    display: inline-block;
                }
            }
            .dxl-wAuto {
                width: auto;
            }
            .dxl-wAuto-i {
                width: auto !important;
            } 
        }

    .wauto {
        width: auto;
    }
    .wauto-i {
        width: auto !important;
    }