.navigation {
	border-top: 1px solid;
	border-bottom: 1px solid;

	border-color: $lighten;

	display: block;
    float: left;
    width: 100%;

	.row {
		overflow: visible !important
	}

	a,
	a:hover {
		text-decoration: none;
	}
	ul {
		a {
			padding: 0 10px;
		}

		> li {
			@extend .float-left;
			@extend .relative;
			@extend .text-left;

			a {

			}
			&:hover {
				> a {
					background-color: $lighten50;

				}
			}
		}

		> li.expanded {
			> a {
				background-color: $lighten50;
			}
		}

		> li.current,
		> li.current.expanded {
			> a {
				background-color: $primaryColor;
				color: $white;
			}
			&:hover {
				>a {
					background-color: darken( $primaryColor, 5%);	
					color: $white;
				}
			}
		}

		> li {
			> .dropdown-menu {
				@extend .visibilityH;
				@extend .hide;

				li {
					text-align: left;
					width: 100%;
					@extend .block;

					a {
						@extend .block;
					}
				}
			}

			&.expanded {
				> .dropdown-menu {
					@extend .visibilityV;
					@extend .block;
				}				
			}
		}
	}

	.btn {
		color: $anchorColor;

		&:hover {
			background-color: transparent;
			color: $anchorHoverColor;			
		}
	}

	.collapsed {
		@extend .w100;
		@extend .block;
		padding: 0;

		> ul {
			@extend .w100;

			> li {
				@extend .w100;

				&.expanded {
					.dropdown-menu {
						@extend .w100;
						position: relative;
						top: auto;
						border-top: 0;

						margin-top: 0px;
						margin-bottom: 4px;
					}
				}				
			}
		}
	}
}