// MIXINs
// ------------------------------------------
%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
%horizontal-align {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
%center-align {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// Mixin: Border-radius. Emmulates Compass-style.org border-radius mixin.
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Mixin: Box-shadow. Emmulates Compass-style.org box-shadow mixin.
@mixin box-shadow($left: 0px, $top: 0px, $blur: 5px, $color: #333333, $inset:"") {
    -webkit-box-shadow: $left $top $blur $color #{$inset};
       -moz-box-shadow: $left $top $blur $color #{$inset};
            box-shadow: $left $top $blur $color #{$inset};
}

@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #000000; // Lighter backgorund, return dark color
    } @else {
        @return #ffffff; // Darker background, return light color
    }
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}